* 
  box-sizing: border-box
  margin: 0
  padding: 0
body
  margin: 0
  position: relative
  color: $text-color
  +reg

section
  width: 100%

.container
  margin: 0 auto
.title
  font-size: 4.7em
  +bold
img
  max-width: 100%

a
  text-decoration: none
  cursor: pointer
  color: $text-color
  &:hover
    text-decoration: none
    color: $text-color

input
  height: 50px
  width: 100%
  padding-left: 30px
  outline: none
  border: 2px solid #0F1C31
  &:focus
    border: 2px solid $button-color
    
textarea
  width: 100%
  padding: 15px 30px 0 30px
  border: 2px solid #0F1C31
  outline: none
  resize: none
  &:focus
    border: 2px solid $button-color

.button
  display: flex
  justify-content: space-between
  align-items: center
  height: 50px
  width: 255px
  padding: 0 30px 0 20px
  color: #ffffff
  background: $button_color
  box-shadow: 0 10px 0 -5px black
  border: none
  outline: none
  cursor: pointer
  transition: 0.4s
  +bold
  &:hover
    color: white
  & img
    width: 34px
    height: 34px

.button_scale 
  box-shadow: none
  transform: scale(0.94)
  transition: 0.2s

.size
  font-size: 2.6rem
  +bold

.new-string
  display: block

.color
  color: $button-color

.active
  fill: $button-color !important


@media (  min-width: 1200px )
  .container
    max-width: 80%

@media screen and ( max-width: 1600px )
  body
    font-size: 14px

@media screen and ( max-width: 1200px )
  .title
    font-size: 4.2em
  .size
    font-size: 1.8rem
  .button
    width: 230px
  .button-block
    width: 230px

@media screen and ( max-width: 1024px )
  .title
    font-size: 3.6em

@media ( max-width: 768px ), (max-height: 500px)
  .title
    font-size: 1.8rem
  

@media ( max-width: 576px )
  .container
    max-width: 320px