.image {
  cursor: pointer;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
}

.popup-block {
  position: fixed;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 570px;
  width: 620px;
}

.popup_img {
  height: 100%;
  width: 100%;
}

.popup-close {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 40px;
  height: 40px;
  padding-bottom: 6px;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid black;
}

@media (max-width: 768px){
  .popup-block {
    height: 470px;
    width: 520px;
  }
}

@media (max-width: 576px){
  .popup-block {
    height: 40%;
    width: 90%;
  }
}