.about
  min-height: 100vh
  display: flex
  align-items: center
  position: relative
  // margin-top: 100px

  &-bg
    &__rectangle
      z-index: -2
      position: absolute
      bottom: -60%
      left: 0
      height: 30vh
      width: 85%
      background: #F1F1F1
    &__img
      z-index: -1
      position: absolute
      bottom: -60%
      right: 0
      width: 100%
      height: 60vh
      background: url("../img/about/abot-bg.jpg") no-repeat
      background-position: left
      background-size: contain

  &-title
    margin-bottom: 8vh
  &-block
    position: relative
    width: 45%
    margin-left: auto
    &__icon
      z-index: 2
      position: absolute
      top: -7%
      left: -7%
      height: 100px
      width: 100px
      display: flex
      justify-content: center
      align-items: center
      font-size: 2.8rem
      color: white
      background: $button-color
      box-shadow: 4px 4px 0 -1px black
      +bold
    &__subtitle
      position: absolute
      top: -48px
      left: 80px
      font-size: 2.2rem
      +bold
    &__select
      height: 75vh
      overflow-y: scroll
      &::-webkit-scrollbar
        width: 0
    &__item
      width: 100%
      padding: 4vh 10vh
      margin-bottom: 5vh
      background: $bg-color
      &-title
        display: block
        margin-bottom: 10px
        font-size: 1.6rem
        +bold

@media ( max-width: 1200px )
  .about
    &-block
      width: 65%
      &__icon
        height: 70px
        width: 70px
        font-size: 2.2rem

@media ( max-width: 1024px )
  .about
    padding: 60px 0
    background: linear-gradient(to right, #F1F1F1 100% , #F1F1F1) no-repeat
    background-size: 100% 100%
    background-position: 0 bottom
    &-bg
      &__rectangle
        display: none
        top: 165%
        right: 0
        height: 90vh
        width: 100%
      &__img
        display: none
    &-block
      width: 100%
      &__item
        width: 100%
        padding: 3vh 5%
        margin-bottom: 3vh
      &__icon
        height: 60px
        width: 60px
        font-size: 1.8rem
        top: -40px
        left: -35px
      &__subtitle
        left: 40px
      
@media ( max-width: 576px ), (max-height: 500px)
  .about
    &-block
      &__icon
        height: 40px
        width: 40px
        font-size: 1.8rem
        top: -30px
        left: -10px
      &__item
        &-title
          margin-bottom: 5px
          font-size: 1.2rem
      &__subtitle
        font-size: 1.2rem
        top: -30px
        left: 40px