.call
  min-height: 93vh
  display: flex
  align-items: center
  position: relative
  // margin-top: 100px;

  &-bg
    &__rectangle
      z-index: -1
      position: absolute
      top: 180%
      left: 2%
      height: 50%
      width: 65%
      background: #F1F1F1
    &__img
      z-index: -2
      position: absolute
      top: 270%
      right: 5%
      height: 40%
      width: 60%
      background: url("../img/call/call-bg.jpg") no-repeat
      background-size: contain

  &-block
    display: flex
    align-items: flex-start
  &-title
    margin-bottom: 50px
  &-form
    max-width: 360px
    margin-right: 120px
    &__input
      margin-bottom: 20px
      &-block
        display: flex
        justify-content: space-between
        & input
          flex-basis: 47%
    & textarea
      max-height: 100px
      margin-bottom: 30px
  &-text
    max-width: 350px
    &__title
      font-size: 1.6rem
      +bold
      margin-bottom: 10px
    &__description
      display: block
      margin-bottom: 20px
    &__time
      display: block
      & span
        font-size: 2.8rem
        +bold

@media ( max-height: 900px )
  .call
    &-bg
      &__img
        top: 270%
        height: 60%
      &__rectangle
        top: 177%
        height: 55% 

@media ( max-height: 780px )
  .call
    &-bg
      &__img
        height: 50%
      &__rectangle
        top: 175%
        height: 57% 

@media ( max-height: 680px )
  .call
    &-bg
      &__img
        height: 50%
      &__rectangle
        top: 170%
        height: 70% 

@media ( max-height: 610px )
  .call
    &-bg
      &__img
        height: 50%
      &__rectangle
        top: 165%

@media screen and ( max-width: 1500px )
  .call
    &-bg
      &__rectangle
        width: 80%

@media screen and ( max-width: 1200px )
  .call
    &-bg
      &__rectangle
        width: 85%

@media screen and ( max-width: 1024px )
  .call
    padding: 60px 0
    background: linear-gradient(to right, #F1F1F1 100% , #F1F1F1) no-repeat
    background-size: 100% 87%
    background-position: 0 bottom
    &-bg
      &__rectangle
        display: none
        top: 210%
        bottom: 0
        left: 0
        height: 50%
        width: 90%
      &__img
        top: 340%
        right: 0
        height: 30%
        width: 55%

@media screen and ( max-width: 768px ), (max-height: 500px)
  .call
    background-size: 100% 100%
    &-bg
      &__img
        display: none
    &-block
      display: flex
      align-items: flex-start
      flex-direction: column-reverse
    &-title
      margin-bottom: 30px
    &-form
      max-width: 100%
      margin-right: 0
    &-text
      max-width: 100%
      margin-bottom: 10px
      &__description
        margin-bottom: 10px
      &__time
        display: inline-block
        margin-left: 10px

@media screen and ( max-width: 576px ), (max-height: 500px)
  .call
    &-title
      margin-bottom: 20px
    &-text
      &__title
        font-size: 1.4rem
        margin-bottom: 10px
    &-form
      & button
        width: 290px
        padding: 0 55px