.calc
  padding: 40px 0 0 0
  min-height: 100vh
  display: flex
  align-items: center
  position: relative
  // margin-top: 100px

  &-bg
    &__rectangle
      z-index: -1
      position: absolute
      bottom: -70%
      right: 0
      height: 27vh
      width: 50%
      background: #D9E8FF

  &-title
    margin-bottom: 30px
  &-block
    display: flex
    &__area
      flex-basis: 30%
      margin-right: 30px
      &-title
        margin-bottom: 30px
        +bold
      &-block
        height: 400px
        margin-left: 30px
        position: relative
        &__box
          position: relative
          display: inline-block
          height: 100%
          width: 400px
          border: 2px solid #0F1C31
        &__minibox
          height: 10%
          width: 14%
          border: 2px solid #0F1C31
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
        &__text
          z-index: 1
          position: absolute
          top: 50%
          left: 56%
          transform: translate(-50%, -50%)
          font-size: 1.6rem
          +bold
          & .color
            display: inline-block
            margin-right: 10px
          & sup
            display: inline-block
            margin-left: -5px
      &-progress
        &__height
          position: absolute
          width: 400px
          top: 0
          bottom: 0
          left: -55%
          display: flex
          align-items: center
          justify-content: space-around
          transform: rotate(-90deg)
          & span
            transform: rotate(90deg)
          & input
            -webkit-appearance: none
            appearance: none
            width: 70%
            height: 2px
            border: 0
            padding: 0
            outline: none
            background: #000000
            &:focus
              border: 0
            &::-webkit-slider-thumb
              -webkit-appearance: none
              appearance: none !important
              width: 12px
              height: 12px
              cursor: pointer
              background: $button-color
              &:focus
                border: 0
        &__width
          display: flex
          align-items: center
          justify-content: space-around
          & input
            -webkit-appearance: none
            appearance: none
            width: 70%
            height: 2px
            border: 0
            padding: 0
            outline: none
            background: #000000
            &:focus
              border: 0
            &::-webkit-slider-thumb
              -webkit-appearance: none
              appearance: none !important
              width: 12px
              height: 12px
              cursor: pointer
              background: $button-color
              &:focus
                border: 0
      &-form
        margin: 60px 0 0 30px
        max-width: 400px
        display: flex
        align-items: center
        justify-content: space-between
        & div
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
          &:nth-child(3)
            & input
              width: 115px
        & input
          padding-left: 19px
          width: 70px

    &__item
      flex-basis: 30%
      &-title
        margin-bottom: 30px
        +bold
      &-form
        & label
          margin-bottom: 15px
        & input
          margin-bottom: 20px

    &__price
      margin-left: 100px
      &-title
        margin-bottom: 30px
        +bold
      &-discount
        margin-bottom: 10px
      &-value
        margin-bottom: 90px
      &-description
        display: block
        max-width: 210px
        margin-bottom: 20px
      &-form
        display: flex
        & input
          max-width: 230px
          margin-right: 20px

@media screen and ( max-width: 1850px )
  .calc
    &-block
      &__price
        &-value
          margin-bottom: 50px
        &-form
          max-width: 270px
          flex-direction: column
          & input
            max-width: 100%
            margin-right: 0
            margin-bottom: 10px
          & button
            width: 100%

@media screen and ( max-width: 1650px )
  .calc
    &-block
      &__area
        margin-right: 30px
        &-block
          height: 350px
          max-width: 350px
          position: relative
          &__box
            height: 100%
            width: 350px
        &-progress
          &__height
            width: 350px
      &__price
        margin-left: 30px

@media screen and ( max-width: 1550px )
  .calc
    &-block
      &__area
        &-title
          font-size: 1.4rem
        &-block
          height: 350px
          max-width: 350px
          position: relative
          &__box
            height: 100%
            width: 350px
          &__text
            left: 58.5%
            font-size: 1.6rem
        &-progress
          &__height
            width: 350px
      &__item
        &-title
          font-size: 1.4rem
      &__price
        &-title
          font-size: 1.4rem

@media screen and ( max-width: 1400px )
  .calc
    &-block
      &__area
        &-block
          height: 300px
          max-width: 300px
          position: relative
          &__box
            width: 300px
        &-progress
          &__height
            width: 300px

@media screen and ( max-width: 1024px )
  .calc
    padding: 60px 0
    background: linear-gradient(to right, #D9E8FF 100% , #D9E8FF) no-repeat
    background-position: 0 bottom
    background-size: 100% 25%
    &-bg
      &__rectangle
        display: none
        top: 140%;
        left: 0
        height: 50vh;
        width: 100%
    &-block
      flex-direction: column
      &__area
        margin: 0
        &-block
          margin: 0 auto
        &-form
          margin: 60px auto 30px auto
          max-width: 300px
      &__price
        margin: 0
        &-discount
          display: inline-block
          margin: 0 30px 10px 0
        &-value
          display: inline-block
          margin-bottom: 30px
        &-description
          display: block
          max-width: 100%
          margin-bottom: 20px

@media screen and ( max-width: 768px )
  .calc
    &-block
      &__area
        &-block
          height: 270px
          max-width: 270px
          position: relative
          &__box
            width: 270px
        &-progress
          &__height
            width: 270px
        &-progress
          &__height
            & input
              &::-webkit-slider-thumb
                width: 17px
                height: 17px
          &__width
            & input
              &::-webkit-slider-thumb
                width: 17px
                height: 17px
      &__price
        &-form
          flex-direction: column
          & input
            max-width: 100%
            margin-right: 0
            margin-bottom: 10px

@media screen and ( max-width: 576px )
  .calc
    margin-top: 0
    &-bg
      &__rectangle
        bottom: -70%
        right: 0
        height: 75vh
        width: 90%
    &-title
      margin-bottom: 20px
    &-block
      &__area
        &-title
          margin-bottom: 20px
        &-block
          &__text
            left: 57%
            font-size: 1.2rem
      &__item
        margin-bottom: 10px
        &-title
          margin-bottom: 20px
      &__price
        &-title
          margin-bottom: 20px
