.faq
  min-height: 100vh
  display: flex
  align-items: center
  position: relative
  // margin-top: 100px

  &-bg
    &__rectangle
      z-index: -2
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      background: #F1F1F1
    &__img
      z-index: -1
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 100%
      background: url("../img/faq/faq-bg.jpg") no-repeat
      background-position: right
      background-size: 25% 100%
    &__arrow
        z-index: -1
        position: absolute
        top: 55%
        left: 13%
        height: 50vh

  &-title
    margin-bottom: 50px
  &-block
    display: flex
    justify-content: center
  &-accordion
    width: 80%
    background: white
    box-shadow: 25px 25px 0 -20px black
    &__card
      padding: 20px 50px
      box-shadow: -20px 22px 0 -20px black
      &:last-child
        box-shadow: none
      &-body
        margin-top: 20px
    &__btn
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      border: 0
      font-size: 1.6rem
      width: 100%
      background: white
      +bold
      &:focus
        outline: none
      & span
        display: block
        width: 36px
        height: 4px
        background-color: $button-color
        transition-duration: .25s
        & span
          display: block
          width: 36px
          height: 4px
          background-color: $button-color
          transition-duration: .25s
          transform: rotate(90deg)
        & .active
          transform: rotate(0deg)

@media ( max-width: 1200px )
  .faq
    &-bg
      &__arrow
        left: 5%

@media ( max-width: 1024px )
  .faq
    padding: 60px 0
    &-bg
      &__arrow
        display: none
    &-accordion
      width: 100%
      &__btn
        text-align: left
        font-size: 1.2rem

@media ( max-width: 768px )
  .faq
    &-bg
      &__img
        z-index: -1
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%
        background: url("../img/faq/faq-bg.jpg") no-repeat
        background-position: right
        background-size: 100% 100%
    &-accordion
      &__card
        padding: 15px 10px
      &__btn
        font-size: 1rem

@media ( max-width: 576px )
  .faq
    &-title
      margin-bottom: 20px
    &-accordion
      &__btn
        & span
          width: 23px
          height: 3px
          background-color: $button-color
          transition-duration: .25s
          & span
            width: 23px;
            height: 3px;
          &::after
            content: ''
            display: none
            width: 23px
            height: 3px
            background-color: $button-color
            transition-duration: .25s
            transform: rotate(90deg)