.footer
  background: #0F1C31
  color: white
  &-block
    min-height: 7vh
    display: flex
    align-items: center
    justify-content: space-between
    & a
      color: white
  &-mail
    display: none

@media screen and ( max-width: 576px )
  .footer
    padding: 10px 0
    &-block
      flex-direction: column
      justify-content: center
    &-company
      display: none
    &-mail
      margin-top: 10px
      display: block
      +bold