.garanty
  min-height: 100vh
  position: relative
  display: flex
  align-items: center

  &-bg
    &__rectangle1
      z-index: -2
      position: absolute
      top: 87%
      left: 0
      height: 27vh
      width: 55%
      background: #D9E8FF
    &__rectangle2
      z-index: -1
      position: absolute
      top: 80%
      right: 0
      height: 55vh
      width: 50%
      background: #F1F1F1
    &__arrow
        z-index: 3
        position: absolute
        top: 80%
        right: 38%
        width: 625px
        height: 35vh
        & span
          display: block
          background-color: $text-color
          position: absolute
          &:nth-child(1)
            top: 0
            left: 0
            height: 5px
            width: inherit
          &:nth-child(2)
            top: 0
            left: 0
            height: inherit
            width: 5px
          &:nth-child(3)
            bottom: -1px
            left: 2px
            width: 5px
            height: 35px
            transform-origin: left bottom
            transform: rotate(-45deg)
          &:nth-child(4)
            bottom: -1px
            left: -2px
            width: 5px
            height: 35px
            transform-origin: right bottom
            transform: rotate(45deg)

  &-block
    width: 100%
  &-container
    height: inherit
    display: flex
    align-items: center
  &-title
    margin-bottom: 50px
  &-steps
    position: relative
    display: grid
    grid-template-columns: repeat(9, 1fr)
    grid-template-rows: 160px 130px 160px
    align-items: start
    justify-items: center
    &__item
      text-align: center
      &:nth-child(2n)
        align-self: center
      &:nth-child(10)
        grid-column-start: 9
        grid-row-start: 2
        transform: rotate(90deg)
        & img
          margin-bottom: 0
      &:nth-child(11)
        grid-column-start: 9
        grid-row-start: 3
      &:nth-child(12)
        grid-column-start: 8
        grid-row-start: 3
      &:nth-child(13)
        grid-column-start: 7
        grid-row-start: 3
      &:nth-child(14)
        display: none
        grid-column-start: 6
        grid-row-start: 3
      & img
        margin-bottom: 20px
      & span
        display: block
        +bold

// Стрелочный мегаадаптив
@media ( max-width: 1700px )
  .garanty
    &-bg
      &__arrow
        width: 500px

@media ( max-width: 1700px )
  .garanty
    &-bg
      &__arrow
        width: 400px

@media ( max-height: 1050px )
  .garanty
    &-bg
      &__arrow
        height: 48vh

@media ( max-height: 950px )
  .garanty
    &-bg
      &__arrow
        height: 38vh

@media ( max-height: 900px )
  .garanty
    &-bg
      &__arrow
        height: 36vh

@media ( max-height: 850px )
  .garanty
    &-bg
      &__arrow
        height: 34vh

@media ( max-height: 750px )
  .garanty
    &-bg
      &__arrow
        height: 25vh

@media ( max-height: 650px )
  .garanty
    &-bg
      &__arrow
        height: 18vh

// Остальная штука
@media screen and ( max-width: 1200px )
  .garanty
    &-steps
      & img
        height: 50px
        width: 50px

@media screen and ( max-width: 1024px )
  .garanty
    padding: 60px 0 0 0
    background: linear-gradient(to right, #D9E8FF 100% , #D9E8FF) no-repeat
    background-size: 57% 65%
    background-position: 0 25%
    &-bg
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background: linear-gradient(to right, #F1F1F1 100% , #F1F1F1) no-repeat
      background-size: 59% 52%
      background-position: right bottom
      &__rectangle1
        display: none
        top: 50%
        left: 0
        height: 80vh
        width: 65%
      &__rectangle2
        display: none
        top: 70%
        right: 0
        height: 80vh
        width: 60%
      &__arrow
        display: none
    &-steps
      max-width: 600px
      margin: 0 auto
      display: grid
      grid-template-columns: repeat(5, 1fr)
      grid-template-rows: repeat(3, 1fr 100px)
      &__item
        &:nth-child(6)
          grid-column-start: 5
          grid-row-start: 2
          transform: rotate(90deg)
          & img
            margin-bottom: 0
        &:nth-child(7)
          grid-column-start: 5
          grid-row-start: 3
        &:nth-child(8)
          grid-column-start: 4
          grid-row-start: 3
          transform: rotate(180deg)
          & img
            margin: 20px 0 0 0
        &:nth-child(9)
          grid-column-start: 3
          grid-row-start: 3
        &:nth-child(10)
          grid-column-start: 2
          grid-row-start: 3
          transform: rotate(180deg)
          & img
            margin: 20px 0 0 0
        &:nth-child(11)
          grid-column-start: 1
          grid-row-start: 3
        &:nth-child(12)
          grid-column-start: 1
          grid-row-start: 4
          transform: rotate(-90deg)
          & img
            margin: 0
        &:nth-child(13)
          grid-column-start: 1
          grid-row-start: 5
        &:nth-child(14)
          display: block
          grid-column-start: 1
          grid-row-start: 6
          transform: rotate(-90deg)
          & img
            margin: 0

@media screen and ( max-width: 576px )
  .garanty
    &-title
      margin-bottom: 20px
    &-steps
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(1, 120px 100px 1fr 100px 150px 100px 120px 100px)
      &__item
        &:nth-child(4)
          grid-column-start: 3
          grid-row-start: 2
          transform: rotate(90deg)
          & img
            margin: 0
        &:nth-child(5)
          grid-column-start: 3
          grid-row-start: 3
        &:nth-child(6)
          grid-column-start: 2
          grid-row-start: 3
          transform: rotate(180deg)
          & img
            margin-top: 20px
        &:nth-child(7)
          grid-column-start: 1
          grid-row-start: 3
        &:nth-child(8)
          grid-column-start: 1
          grid-row-start: 4
          transform: rotate(90deg)
          & img
            margin: 0
        &:nth-child(9)
          grid-column-start: 1
          grid-row-start: 5
        &:nth-child(10)
          grid-column-start: 2
          grid-row-start: 5
          transform: rotate(0deg)
          & img
            margin: 0 0 20px 0
        &:nth-child(11)
          grid-column-start: 3
          grid-row-start: 5
        &:nth-child(12)
          grid-column-start: 3
          grid-row-start: 6
          transform: rotate(-90deg)
        &:nth-child(13)
          grid-column-start: 3
          grid-row-start: 7
        &:nth-child(14)
          display: block
          grid-column-start: 3
          grid-row-start: 8
          transform: rotate(-90deg)