.header
  &-block
    min-height: 12vh
    display: flex
    justify-content: space-between
    align-items: center
  &-logo
    display: flex
    align-items: center
    & img
      width: 74px
      height: 63px
    & span
      max-width: 165px
      display: block
      margin-left: 10px
      line-height: 1.2
      font-size: 1.5em
      +bold
  &-info
    display: flex
    align-items: center
    &__mail
      margin-right: 50px
      +bold
    &__contact
      margin-right: 50px
      text-align: right
      & span
        display: block
      & a
        +bold

@media ( max-width: 1200px)
  .header
    &-info
      &__mail
        margin-right: 20px
      &__contact
        margin-right: 20px

@media ( max-width: 1024px), (max-height: 500px)
  .header
    &-block
      min-height: 95px
      & .button
        display: none
    &-info
      &__mail
        display: none
      &__contact
        display: none

@media ( max-width: 768px), (max-height: 500px)
  .header
    &-block
      & .button
        margin-right: 80px
    &-info
      flex-direction: column-reverse
      justify-content: flex-start
    &-logo
      & span
        font-size: 1.2em
      & img
        width: 50px
        height: 44px

@media ( max-width: 576px ), (max-height: 500px)
  .header-block 
    & .button
      display: none