.hero
  min-height: 88vh
  position: relative
  background: url("../img/hero-bg.jpg") no-repeat
  background-position: right
  background-size: 80% 100%
  
  &-bg
    position: absolute
    width: 27%
    min-height: 88vh
    background-color: #D9E8FF
    &__arrow
      position: absolute
      top: 40%
      left: 27%
      height: 84vh
      width: 1068px
      overflow: visible
      & span
        z-index: 2
        display: block
        position: absolute
        background-color: $text-color
        &:nth-child(1)
          top: 0
          right: 0
          width: 337px
          height: 5px
        &:nth-child(2)
          top: 0
          right: 0
          width: 5px
          height: inherit
        &:nth-child(3)
          bottom: 0
          right: 0
          width: inherit
          height: 5px
        &:nth-child(4)
          bottom: -1px
          left: 0
          width: 35px
          height: 5px
          transform-origin: left center
          transform: rotate(-45deg)
        &:nth-child(5)
          bottom: 1px
          left: 0
          width: 35px
          height: 5px
          transform-origin: left center
          transform: rotate(45deg)

  &-block
    min-height: 60vh
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: column
    margin-top: 6vh
    margin-left: 15px
    padding: 0 10%
    box-shadow: -25px 25px 0 -20px black
    background-color: #fff
    &__title
      margin: 0
      max-width: 800px
      font-size: 4.7rem
      margin-bottom: 30px
      +bold
      & span
        color: $button-color
    &__subtitle
      display: block
      max-width: 800px
      margin-bottom: 20px
    &__buttons
      display: flex
      align-items: center
    &__button
      width: 255px
    &__portfolio 
      margin-left: 50px
      +bold
      & span
        margin-right: 8px

// Стрелка адаптив
@media ( max-width: 1850px )
  .hero
    &-bg
      &__arrow
        & span
          &:nth-child(1)
            width: 450px

@media ( max-width: 1850px )
  .hero
    &-bg
      &__arrow
        width: 950px
        & span
          &:nth-child(1)
            width: 350px

@media ( max-width: 1750px )
  .hero
    &-bg
      &__arrow
        left: 30% 

@media ( max-width: 1650px )
  .hero
    &-bg
      &__arrow
        width: 900px

@media ( max-width: 1500px )
  .hero
    &-bg
      &__arrow
        width: 850px

@media ( max-width: 1400px )
  .hero
    &-bg
      &__arrow
        width: 800px

@media ( max-width: 1300px )
  .hero
    &-bg
      &__arrow
        left: 35%
        width: 700px

@media ( max-width: 1300px )
  .hero
    &-bg
      &__arrow
        & span
          &:nth-child(1)
            width: 250px

@media ( max-width: 1150px )
  .hero
    &-bg
      &__arrow
        left: 35%
        width: 600px

@media ( max-height: 1024px )
  .hero
    &-bg
      &__arrow
        height: 83vh

@media ( max-height: 1000px )
  .hero
    &-bg
      &__arrow
        height: 82.5vh

@media ( max-height: 950px )
  .hero
    &-bg
      &__arrow
        height: 81.5vh

@media ( max-height: 900px )
  .hero
    &-bg
      &__arrow
        height: 80.5vh

@media ( max-height: 864px )
  .hero
    &-bg
      &__arrow
        height: 79vh

@media ( max-height: 850px )
  .hero
    &-bg
      &__arrow
        height: 78.5vh

@media ( max-height: 800px )
  .hero
    &-bg
      &__arrow
        height: 77vh

@media ( max-height: 768px )
  .hero
    &-bg
      &__arrow
        height: 76vh

@media ( max-height: 750px )
  .hero
    &-bg
      &__arrow
        height: 75.5vh

@media ( max-height: 700px )
  .hero
    &-bg
      &__arrow
        height: 73.5vh

@media ( max-height: 650px )
  .hero
    &-bg
      &__arrow
        height: 71vh

@media ( max-height: 600px )
  .hero
    &-bg
      &__arrow
        height: 68.5vh

// Остальное
@media ( max-width: 1600px )
  .hero
    &-block
      &__title
        max-width: 700px
        font-size: 3.8rem

@media ( max-width: 1400px )
  .hero
    &-block
      &__title
        max-width: 550px
        font-size: 3.2rem

@media ( max-width: 1024px )
  .hero
    padding: 30px 0
    background-size: 100% 100%
    &-bg
      display: none
    &-bg
      &__arrow
        display: none
    &-block
      &__title
        max-width: 550px
        font-size: 3.2rem

@media ( max-width: 768px ), (max-height: 500px)
  .hero
    min-height: 90vh
    padding: 60px 0
    background-size: 100% 100%
    &-bg
      display: none
    &-block
      margin-top: 10vh
      min-height: 45vh
      padding: 3vh 5%
      &__title
        max-width: 450px
        font-size: 2.4rem
      &__button
        width: 215px
      &__buttons
        display: flex
        flex-direction: column
        align-items: flex-start
      &__portfolio 
        margin: 30px 0 0 0

@media ( max-width: 576px )
  .hero
    background-size: cover
    &-block
      &__title
        max-width: 290px
        font-size: 1.6rem