.modal
  &-back
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.4);
  &-bg
    z-index: 7
    position: absolute
    top: 45%
    left: 42%
    transform: translate(-50%, -50%)
    width: 910px
    height: 220px
    display: flex
    align-items: center
    justify-content: center
    &__rectangle1 
      z-index: -1
      position: absolute
      height: inherit
      width: inherit
      background: white
    &__rectangle2
      z-index: -2
      position: absolute
      top: 95px
      left: 150px
      width: inherit
      height: 250px
      background: $bg-color
    &__close
      position: absolute
      top: 20px
      right: 20px
    &__text
      font-size: 1.6rem
      +bold
      & .block
        height: 31px
        display: block
    &__form
      position: absolute
      top: 196px
      left: 310px
      width: 500px
      & input[type="tel"]
        display: inline-block
        max-width: 224px
      & button
        display: inline-block
        margin-left: 20px
        width: 215px
        & img
          width: 32px
          height: 32px
          margin-right: 20px
      & div
        display: flex
        align-items: center
        margin-top: 25px
        display: none
      & label
        margin-bottom: 0
      & input[type="checkbox"]
        position: absolute;
        z-index: 1;
        width: 18px
        height: 18px
        opacity: 0;
        cursor: pointer
      & input[type="checkbox"] + label
        display: inline-flex
        align-items: center
        user-select: none
      & input[type="checkbox"] + label::before
        content: ''
        display: inline-block
        width: 18px
        height: 18px
        flex-shrink: 0
        flex-grow: 0
        border: 2px solid $text-color
        margin-right: 10px
        background-repeat: no-repeat
        background-position: center center
        background-size: 50% 50%
      & input[type="checkbox"]:checked + label::before
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        background-size: 60%

@media (max-width: 1300px)
  .modal
    &-bg
      width: 700px
      &__text
        font-size: 1.4rem
      &__form
        left: 190px

@media (max-width: 1024px)
  .modal
    &-bg
      width: 600px
      height: 300px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      align-items: flex-start
      padding: 50px 0
      background-color: white
      &__rectangle1
        display: none
      &__rectangle2
        display: none
      &__text
        font-size: 1.2rem
      &__form
        top: 150px
        left: 50%
        transform: translateX(-50%)
        width: 390px
        & input[type="tel"]
          width: 180px
        & button
          width: 180px
          padding: 0 10px 0 10px
          & img
            margin-right: 5px

@media (max-width: 650px)
  .modal
    &-bg
      width: 90%
      height: 55%
      &__text
        display: block
        font-size: 1rem
        margin-top: 30px
        &.block 
          height: auto
      &__form
        top: 200px
        width: max-content
        display: flex
        flex-flow: column
        & input[type="tel"]
          width: 100%
          max-width: 100%
          margin-bottom: 30px;
        & button 
          margin-left: 0;

@media ( max-width: 576px )
  .modal
    &-bg
      width: 100%
      height: 65%
      padding: 30px
      &__form 
        width: 300px