.nav
  z-index: 3
  position: fixed
  top: 50%
  right: 2%
  transform: translateY(-50%)
  text-align: center
  height: 60vh
  width: 60px
  padding: 10px 0
  display: grid
  border: 1px solid black
  box-shadow: 5px 5px 0 0px black
  background-color: white
  &__btn
    display: none
  &-menu
    & object
      display: none
    & input
      display: none
    & li
      display: flex
      justify-content: center
      align-items: center
  &-link
    position: relative
    padding: 0
    & span
      display: none
        
  &__icon
    fill: #000000
    width: 26px
    height: 26px
    &:hover
      fill: $button-color
      transition: 0.3s

#button_menu_mobile
  display: none

@media ( max-width: 1024px ), (max-height: 500px)
  .nav
    &-link
      &:hover
        transition: 0.2s
        &::after
          content: attr(data-title)
          position: absolute
          display: flex
          align-items: center
          justify-content: center
          width: 130px
          height: 60px
          right: 50px
          top: -60% 
          z-index: 1
          background: rgba(255,255,255,0.9)
          padding: 5px 10px
          border: 1px solid #0F1C31

@media ( max-width: 1024px ), (max-height: 500px)
  #nav__toggle
    opacity: 0

  #nav__toggle:checked ~ .nav__btn > span
    transform: rotate(45deg)

  #nav__toggle:checked ~ .nav__btn > span::before
    top: 0
    transform: rotate(0)

  #nav__toggle:checked ~ .nav__btn > span::after
    top: 0
    transform: rotate(90deg)

  #nav__toggle:checked ~ .nav
    visibility: visible
    left: 0

  .nav__btn 
    display: flex
    align-items: center
    position: fixed
    top: 25px
    right: 20px
    width: 40px
    height: 40px
    cursor: pointer
    z-index: 4

  .nav__btn > span,
  .nav__btn > span::before,
  .nav__btn > span::after
    display: block
    position: absolute
    width: 100%
    height: 2px
    background-color: $text-color
    transition-duration: .25s

  .nav__btn > span::before 
    content: ''
    top: -8px

  .nav__btn > span::after 
    content: ''
    top: 8px

  .nav
    display: block
    position: fixed
    visibility: hidden
    right: -100%
    width: 100%
    height: 100%
    margin: 0
    padding: 80px 0
    list-style: none
    background-color: white
    overflow-y: scroll

  .nav-link
    display: flex
    align-items: center
    padding: 12px
    width: 50%
    color: #333
    & span
      display: block
      margin-left: 10px
      font-size: 1.4rem
      text-align: left

  .nav-link:hover
    background-color: $button-color
    color: white
    & svg
      fill: white

@media screen and ( max-width: 1024px ), (max-height: 500px)
  .nav
    &-link
      width: 80%
      & span
        display: block
        margin-left: 10px
        font-size: 1.1rem
  #button_menu_mobile
    display: flex
    margin-top: 30px
    & #button_menu_mobile_inside
      width: 80%