.portfolio
  min-height: 100vh
  display: flex
  align-items: center
  position: relative
  // margin-top: 100px

  &-bg
    &__rectangle
      z-index: -1
      position: absolute
      top: 120%
      right: 0
      height: 82vh
      width: 48%
      background: #D9E8FF

  &-title
    margin-bottom: 30px
  &-block
    &__nav
      width: 95%
      height: 60px
      display: flex
      margin: 0
      margin-bottom: 30px
      list-style: none
      +bold
      &-block
        width: 100%
        display: flex
      & li
        width: 220px
        height: 50px
        margin-right: 15px
        display: flex !important
        align-items: center
        justify-content: center
        text-align: center
        cursor: pointer
        background: #F1F1F1
        outline: none !important
      & .slick-current
        transition: 0.2s
        color: $button-color
        box-shadow: 0px 10px 0 -5px $button-color
      &-arrow
        margin-left: 20px
        cursor: pointer

    &__content
      & li
        display: flex !important
        align-items: center
        outline: none !important
      &-arrow
        margin: 0 3%
        cursor: pointer
      &-img
        max-width: 650px
        &__slide
          // display: flex !important
          outline: none !important
          & img
            width: 220px
            height: 220px
            padding: 10px 20px 10px 0
      &-description
        max-width: 33%
    
    &__description
      display: block
      width: 50%

@media screen and ( max-width: 1400px )
  .portfolio
    &-block
      &__content
        &-arrow
          margin: 0 2%
          cursor: pointer
        &-img
          max-width: 550px
          &__slide
            & img
              width: 170px
              height: 170px

@media screen and ( max-width: 1024px )
  .portfolio
    padding: 60px 0
    background: linear-gradient(to right, #D9E8FF 100% , #D9E8FF) no-repeat
    background-size: 100% 35%
    background-position: 0 bottom
    &-bg
      &__rectangle
        display: none
        z-index: -3
        top: 140%
        left: 0
        height: 115vh
        width: 100%
    &-block
      &__nav
        width: 85%
        &-arrow
          margin-left: 10px
      &__content
        & li
          align-items: flex-start
          flex-direction: column
        &-arrow
          display: none !important
        &-img
          width: 100%
          &__slide
            max-width: 100%
            &__slide
              & img
                width: 220px
                height: 220px
        &-description
          margin-top: 10px
          max-width: 100%
      &__description
        width: 100%

@media screen and ( max-width: 768px )
  .portfolio
    &-bg
      &__rectangle
        top: 200%
        height: 38vh
    &-block
      &__content
        &-img
          &__slide
            & img
              width: 220px
              height: 220px

@media screen and ( max-width: 576px )
  .portfolio
    // &-bg
    //   &__rectangle
    //     top: 110%
    //     right: 0
    //     height: 115vh
    //     width: 90%
    &-title
      margin-bottom: 20px
    &-block
      &__content
        &-img
          &__slide
            & img
              width: 220px