.stocks
  min-height: 100vh
  display: flex
  align-items: center
  position: relative

  &-bg
    &__rectangle
      z-index: -1
      position: absolute
      top: 60%
      left: 20%
      width: 55%
      height: 60vh
      background-color: #D9E8FF
    &__img
      z-index: -1
      position: absolute
      top: 55%
      right: 0
      width: 50%
      height: 60vh
      background: url("../img/stocks/stocks-bg.jpg") no-repeat
      background-position: right
      background-size: contain

  &-title
    margin-bottom: 30px
  &-subtitle
    display: block
    max-width: 400px
    font-size: 1.6rem
    line-height: 1.2
    +bold
    margin-bottom: 8px
  &-timer
    margin-bottom: 30px
    & span .color
      font-size: 2.8rem
      +bold
  &-form
    width: 370px
    height: 200px
    display: flex
    flex-direction: column
    justify-content: space-between
    &__input
      height: 50px
      width: 100%
      margin-bottom: 20px
      &:nth-child(2)
        margin-bottom: 0
    

@media screen and ( max-width: 1024px )
  .stocks
    padding: 60px 0
    background: linear-gradient(to right, #D9E8FF 100% , #D9E8FF) no-repeat
    background-size: 100% 100%
    background-position: 0 center
    &-bg
      &__rectangle
        display: none
      &__img
        display: none

@media screen and ( max-width: 768px )
  .stocks
    &-bg
      &__rectangle
        width: 80%
        left: 0

@media screen and ( max-width: 576px )
  .stocks
    &-bg
      &__rectangle
        top: 50%
        left: 0
        width: 100%
        height: 70vh
      &__img
        display: none
    &-title
      margin-bottom: 20px
    &-subtitle
      font-size: 1.2rem
    &-form
      width: 290px
      & button
        width: 290px
        padding: 0 40px
    &-timer
      margin-bottom: 20px
      & span .color
        font-size: 2.2rem
      &__block
        display: block
        